<div class="bulk-add-response">
    <h4>Success!</h4>
    <p>
        You've successfully added assets to your collections.
    </p>

    <p>
        <i class="fa fa-check-circle fa-2x success-color"></i>
        <span>{{addedAssetCount}} {{'Asset' | pluralize:addedAssetCount}} added</span>
    </p>
    <p>
        <i class="fa fa-check-circle fa-2x success-color"></i>
        <span>
            {{addedCollectionCount}} {{'Collection' | pluralize:addedCollectionCount}}
        </span>
    </p>

    <div class="well">
        <div class="col-md-6">
            <ul>
                <li ng-repeat="collection in firstHalf">
                    {{collection.title | shorten:25}}
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul>
                <li ng-repeat="collection in secondHalf">
                    {{collection.title | shorten:25}}
                </li>
            </ul>
        </div>
    </div>
</div>
