<tr class="{{ conditionalClass() }} " ng-class="{ 'selected': asset.selected }" ng-click="showDetail()">
    <td table-asset-filename asset-id="asset.assetId" file-name="asset.fileName" asset-ext="asset.fileExtension" checkbox-enabled="true"></td>
    <td table-collections-badge></td>

    <!-- Custom content -->
    <td>{{ asset.title }}</td>
    <td>{{ asset.territory }}</td>
    <td>
        <span ng-show="asset.uploadedOn">{{ asset.uploadedOn | foxDate }}</span>
    </td>

    <td table-actions></td>
</tr>
