<footer class="fic-footer">
    <!-- TODO(geluso) Remove .fixed-footer class once layout and footer are repaired properly. -->
    <div class="pull-left">
        <img src="/Content/Images/Logos/FIC_PoweredByFMC.png" />
    </div>

    <div class="pull-right">
        <div>
            <i class="fa fa-copyright"></i> Copyright 21st Century Fox
        </div>

        <div class="text-right">
            <a ui-sref="help">Help</a> &nbsp;|&nbsp; <a href="#" target="_self" ng-click="clearSessionAndCache()">Logout</a>
        </div>
    </div>
</footer>
