    <tr>
        <!-- Every user experience starts with the Asset and Collection columns. -->
        <th>Asset</th>
        <th>Collection</th>

        <!-- Custom fields -->
        <th>Title</th>
        <th>Season</th>
        <th>Episode</th>
        <th>Version</th>
        <th>Asset Type</th>
        <th>ISO Conformed <br /> Language</th>
        <th>ISO Subtitle <br /> Language</th>
        <th>Upload Date</th>

        <!-- Every user experience ends with a column that
             holds 'add to collection' and download buttons. -->
        <th></th>
    </tr>
